<a href="https://colab.research.google.com/github/NH0724/conditional-particle-filter-/blob/main/TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
corpus = [
...     'This is the first document.',
...     'This document is the second document.',
...     'And this is the third one.',
...     'Is this the first document?',
... ]

In [ ]:
vectorizer = TfidfVectorizer(smooth_idf = True)

%Latex fit_transform is equivalent to fit first, then transform...

In [ ]:
X_inital = vectorizer.fit(corpus)
X = X_inital.transform(corpus)
print(vectorizer.idf_)

[1.91629073 1.22314355 1.51082562 1.         1.91629073 1.91629073
 1.         1.91629073 1.        ]

In [ ]:
X2 = vectorizer.fit_transform(corpus)
print(X2)

  (0, 1)	0.46979138557992045
  (0, 2)	0.5802858236844359
  (0, 6)	0.38408524091481483
  (0, 3)	0.38408524091481483
  (0, 8)	0.38408524091481483
  (1, 5)	0.5386476208856763
  (1, 1)	0.6876235979836938
  (1, 6)	0.281088674033753
  (1, 3)	0.281088674033753
  (1, 8)	0.281088674033753
  (2, 4)	0.511848512707169
  (2, 7)	0.511848512707169
  (2, 0)	0.511848512707169
  (2, 6)	0.267103787642168
  (2, 3)	0.267103787642168
  (2, 8)	0.267103787642168
  (3, 1)	0.46979138557992045
  (3, 2)	0.5802858236844359
  (3, 6)	0.38408524091481483
  (3, 3)	0.38408524091481483
  (3, 8)	0.38408524091481483

In [ ]:
print(vectorizer.get_feature_names())

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [ ]:
print(X[0,6])
print(X)
print(vectorizer.vocabulary_)

0.38408524091481483
  (0, 8)	0.38408524091481483
  (0, 6)	0.38408524091481483
  (0, 3)	0.38408524091481483
  (0, 2)	0.5802858236844359
  (0, 1)	0.46979138557992045
  (1, 8)	0.281088674033753
  (1, 6)	0.281088674033753
  (1, 5)	0.5386476208856763
  (1, 3)	0.281088674033753
  (1, 1)	0.6876235979836938
  (2, 8)	0.267103787642168
  (2, 7)	0.511848512707169
  (2, 6)	0.267103787642168
  (2, 4)	0.511848512707169
  (2, 3)	0.267103787642168
  (2, 0)	0.511848512707169
  (3, 8)	0.38408524091481483
  (3, 6)	0.38408524091481483
  (3, 3)	0.38408524091481483
  (3, 2)	0.5802858236844359
  (3, 1)	0.46979138557992045
{'this': 8, 'is': 3, 'the': 6, 'first': 2, 'document': 1, 'second': 5, 'and': 0, 'third': 7, 'one': 4}

In [ ]:
print(vectorizer.inverse_transform(X))

[array(['this', 'the', 'is', 'first', 'document'], dtype='<U8'), array(['this', 'the', 'second', 'is', 'document'], dtype='<U8'), array(['this', 'third', 'the', 'one', 'is', 'and'], dtype='<U8'), array(['this', 'the', 'is', 'first', 'document'], dtype='<U8')]

In [ ]:
import numpy as np

In [ ]:
volcab = []
for i in range(len(corpus)):
    for each in list(corpus[i].split(' ')):
        each = each.lower()
        if '.' in each:
            each = each.replace('.','')
        if '?' in each:
            each = each.replace('?','')
        volcab.append(each)
volcab =list(set(volcab))
print(len(volcab))
print(volcab)

9
['second', 'third', 'is', 'one', 'and', 'the', 'first', 'this', 'document']

%%latex 

TF-IDF formula is $$w_{i,j} = tf_{i,j} \times \log{\frac{N}{df_i}}$$, where $w_{i,j}$ is the TF-IDF number, $tf_{i,j}$ is the number of occurrences of word $i$ in document $j$; $df_i$ is the number of hte documents containing word $i$, and $N$ is the total number of documents. 

each word's TF-IDF relevance is a normalized data format, which adds up to $1$.

To be consistent with sklearn, instead of using the formula in textbook shown above, the following using the formula in sklearn for idf:
$$
idf=\log{\frac{N+1}{f_i+1}+1}
$$

In [ ]:
print(dict(zip(vectorizer.get_feature_names(),vectorizer.idf_)))

{'and': 1.916290731874155, 'document': 1.2231435513142097, 'first': 1.5108256237659907, 'is': 1.0, 'one': 1.916290731874155, 'second': 1.916290731874155, 'the': 1.0, 'third': 1.916290731874155, 'this': 1.0}

In [ ]:
idf = []
corpus_low = [x.lower() for x in corpus]
print(corpus_low)
for i in range(len(corpus_low)):
    if '.' in corpus_low[i]:
        corpus_low[i] = corpus_low[i].replace('.','')
    if '?' in corpus_low[i]:
        corpus_low[i] = corpus_low[i].replace('?','')
#print(corpus_low)
for each in name:
    df = 0
    for i in range(len(corpus)):
        if each in corpus_low[i]:
            df = df + 1
        else:
            pass
    #print(df)
    idf.append(np.log((len(corpus)+1)/(df+1))+1)
    #print(each + f' idf is {df}')
idf_dict = dict(zip(name,idf))
print(idf_dict)

['this is the first document.', 'this document is the second document.', 'and this is the third one.', 'is this the first document?']
{'and': 1.916290731874155, 'document': 1.2231435513142097, 'first': 1.5108256237659907, 'is': 1.0, 'one': 1.916290731874155, 'second': 1.916290731874155, 'the': 1.0, 'third': 1.916290731874155, 'this': 1.0}

In [ ]:
print(idf_dict['and'])

1.916290731874155

In [ ]:
tf_dict ={}
for each in name:
    tf = []
    for i in range(len(corpus)):
        times = corpus_low[i].split(' ').count(each)
        tf.append(times)
    print(each)
    print(tf)
    tf_dict[each] = tf

and
[0, 0, 1, 0]
document
[1, 2, 0, 1]
first
[1, 0, 0, 1]
is
[1, 1, 1, 1]
one
[0, 0, 1, 0]
second
[0, 1, 0, 0]
the
[1, 1, 1, 1]
third
[0, 0, 1, 0]
this
[1, 1, 1, 1]

In [ ]:
print(tf_dict['and'])
print(vectorizer.vocabulary_)

[0, 0, 1, 0]
{'this': 8, 'is': 3, 'the': 6, 'first': 2, 'document': 1, 'second': 5, 'and': 0, 'third': 7, 'one': 4}

from the following result, it can be seen that the manual solution is the same with the sklearn result.

In [ ]:
# normalize each word vector
for i in range(len(corpus)):
    sum = 0
    for each in vectorizer.vocabulary_.keys():
        if each in corpus_low[i]:
            #print(each)
            sum = sum + (tf_dict[each][i]*idf_dict[each])**2
    for each in vectorizer.vocabulary_.keys():
        if each in corpus_low[i]:
            print(each +' ' +str((i,vectorizer.vocabulary_[each])) + ' ' +str(tf_dict[each][i]*idf_dict[each]/np.sqrt(sum)))

this (0, 8) 0.38408524091481483
is (0, 3) 0.38408524091481483
the (0, 6) 0.38408524091481483
first (0, 2) 0.5802858236844359
document (0, 1) 0.46979138557992045
this (1, 8) 0.281088674033753
is (1, 3) 0.281088674033753
the (1, 6) 0.281088674033753
document (1, 1) 0.6876235979836938
second (1, 5) 0.5386476208856763
this (2, 8) 0.267103787642168
is (2, 3) 0.267103787642168
the (2, 6) 0.267103787642168
and (2, 0) 0.511848512707169
third (2, 7) 0.511848512707169
one (2, 4) 0.511848512707169
this (3, 8) 0.38408524091481483
is (3, 3) 0.38408524091481483
the (3, 6) 0.38408524091481483
first (3, 2) 0.5802858236844359
document (3, 1) 0.46979138557992045